
.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

div.grupa {
  background-color: #efebe8;
  height: 90px;
}

:root {
  font-family: "Roboto";
}

p.pytanko {
  font-weight: 700;
  color: #574e5a;
}

div#DivWynik {
  background-color: #efebe8;
  min-height: 300px;
}

label {
  display: block;
  color: #574e5a;
  text-align: center;
}

input#wyslij {
  border-radius: 0.5em;
  background-color: #2590fd;
  color: #FFFFFF;
  font-size: 25px;
  width: 415px;
  height: 50px;
  text-transform: uppercase;
}

input.inputInformacji {
  font-size: 25px;
  border-radius: 0.25em;
  height: 40px;
  width: 400px;
}

form#wyslannik {
  display: block;
  text-align: center;
  padding: 1em;
  font-size: 25px;
}

div.pytanie {
  div.guzik {
    display: flex;
    flex-direction: column; 
    gap: 10px;
  }
  button{
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #1C1C1C;
    width: 100%; 
    font-size: 1.5em;
    font-weight: 400;
    padding: 10px;
    cursor: pointer;
    border-radius: 0.5em;
  }
  p{
    position:relative;
    top: 12px;
    font-size: 1.5em;
    padding: 10px;
    text-align: center;
    background-color: #efebe8;
  }
  button.guzikRestart{
    background-color: #2590fd;
    width: 100%;
    font-size: 1.5em;
    padding: 10px;
    cursor: pointer;
  }
}
  p#Pwynik {
    position:relative;
    top: 2px;
    color: #574e5a;
  }

@media(min-width:600px){
  div.pytanie{
    div.guzik {
      flex-direction: row; 
      justify-content: space-between;
    }
    button{
      width: 50%;
      font-size: 2em;
    }
    p{
      font-size: 2em;
    }
    button.guzikRestart {
      width: 100%;
      font-size: 2em;
    }
  }
}

@media(min-width:1024px){
  div.pytanie {
    button {
      font-size: 2.5em;
    }
    p {
      font-size: 2.5em;
    }
    button.guzikRestart {
      font-size: 2.5em;
    }
  }
}

div#DivPytanie2 {display:none;}
div#DivPytanie3 {display:none;}
div#DivWynik {display:none;}